import(stringr)
import(dplyr)
importFrom(data.table,"fread")
importFrom(data.table,"fwrite")
importFrom(data.table,"setDF")
importFrom(data.table,"setDT")
import(readr)
import(parallel)
importFrom(lubridate,"ymd_hms")
importFrom(parallel,"makeCluster")
importFrom(foreach,"foreach")
importFrom(doParallel,"registerDoParallel")
importFrom(parallel,"stopCluster")
import(doParallel)
import(glue)
import(stringr)
import(tidytext)
import(jiebaR)
import(e1071)
import(ranger)
import(tm)
import(fastNaiveBayes)
importFrom(tibble,"enframe")
importFrom(magrittr,"%>%")
exportPattern("^[[:alpha:]]+")
